<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
        <authorization>
            <allow users="Andreas-TKB" />
        </authorization>
  </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="Home_Page.html" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
