body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0087e08c;
}

/* Header */
header{
    padding: 1%;
}

#header_image{
    height: 100px;
}
#header_title{
    padding: 1%;
}

#header_image,#header_title, #div_space, #btnMenu{
    display: inline-block;
    position: relative;
}

#btnMenu{
    right: 0%;
}

#div_space{
    width: 91%;
}
#btnMenu{
    height: 48px;
    width: 48px;
}
#imgMenu{
    position: relative;
    height: 40px;
    width: 40px;
}
/* Menu Button */
.container {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    /* border: solid 1px; */
    padding-left: 3px;
    padding-right: 3px;
    background-color:#0086e0;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

/* Navigation bar */
#navbar {
    display:none;
    width: 100%;
}

.navbar #navbar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
  }
  
.navbar li {
    float: left;
    border-right: 1px solid #bbb;
  }

.navbar li:last-child {
    border-right: none;
  }
  
.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
  }

/* Image Slider */
.mySlides {
    padding: 1%;
    display: none;
    max-height: 400px;
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

#dot_section{
    display: table;
    position: relative;
    left: 45%;
    height: 100%;
    width: 100%;
}

#dotBtn1,#dotBtn2{
    display: inline-block;
    position: relative;
    left: 45%;
    cursor: pointer;
    padding: 1%;
}

button{
    border: none;
    background: none;
}

/* Description */
#main_div{    
    background-color: rgb(31, 32, 34);
    color: white;
    text-align: center;
}

#sub_div{
    padding: 1%;
    background-color: rgb(38, 94, 206);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    text-align: center;
}

#main_div_title, #sub_div_ul  {    
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

#android_pic, #web_pic{
    height: 20px;
}

#web_pic{
    color: white;
}

/* about */
td {padding: 12px}

/* Footer */
footer {
    float: right;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}



