body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgba(0, 135, 224, 0.549); */
    /* width: 100%; */
}

/* Header */
header{
    padding: 1%;
    background-color: rgb(0, 165, 177);
}

.header{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

#header_logo{
    order: 1;
}

#header_logo_link{
    text-decoration: none;
    /* width: 100%; */
}

/* #header_image{
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.774);
} */

/* #header_image:hover{
    box-shadow: #bbb 1px 1px 1px 1px;
} */

#header_title{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    padding-left: 16px;
    padding-right: 16px;
}

#header_title:hover{
    box-shadow: #bbb 1px 1px 1px 1px;
}

/* Menu Button */
.menu_button {    
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    /* border: solid 1px; */
    padding: 2px;
    background-color:rgba(0, 0, 0, 0.555);
    max-height: 48px;
    max-width: 60px;
    order: 1;
  }
  
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 4px;
    background-color: white;
    margin: 8px;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .change .bar1 {
    transform: translate(0, 12px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -12px) rotate(45deg);
  }

  .menu_button:hover{
    background-color: rgba(0, 0, 0, 0.700);
  }

  .menu_button:active{
    background-color: black;
  }

/* Navigation bar */
#navbar {
    display:none;
    height: 50%;
    width: 100%;
    order: 3;
}

#navbar_list {
    /* background-color: rgba(0, 0, 0, 0.700); */
    background-color: rgb(37, 37, 37);
    /* display: flex; */
    /* flex-direction: column; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    position:absolute;
    width: 98%;
  }
  
#navbar li {
    display: flex;
    /* text-align: center; */
    /* border-right: 1px solid #bbb; */
    border-bottom: 1px solid #bbb;
  }

#navbar li:last-child {
    border-right: 1px solid #bbb;
  }
  
#navbar li a {
    flex-direction: column;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    flex-basis: 100%;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: black;
}

#navbar li a:active {
    background-color: black;
}

#main_body{
    background-color: rgb(127, 195, 199);
}

/* Image Slider */

#div_image_slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.mySlides {
    padding: 8px;
    display: none;
    max-width: fit-content;
    width: 100%;
    border-radius: 20px;
}

#dotBtn1, #dotBtn2{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.021);
}

/* Description */
#main_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 103, 105);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    text-align: center;
    width: 100%;
}

#sub_div{
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    width: 100%;
}

/* #main_div_title
{
    text-align: center;
} */

#main_list  {    
    display: inline-block;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 8px;
    list-style-type: none;
    /* width: 100%; */
}

/* home recent apps */
.recent_projects{
    margin: 8px;
    padding-bottom: 4px;
    border-bottom: solid 1px;
}

.recent_projects > .recent_projects_links
{
    text-decoration: none;
    border-bottom: solid 1px;
}

/* Android and Web */
#main_list_app{
    display: grid;
    /* width: fit-content; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    margin-left: -24px;
}

.list_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 8px; */
    counter-increment: list-item 1;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    border: #bbb 1px;
    border-style: solid;
    max-width: fit-content;
    text-decoration: none;
}

.list_item:hover{
    background-color: rgb(0, 165, 177);
    box-shadow: rgb(0, 0, 0) 2pt 2pt 2pt 2pt;
}

.list_item::before{
    content: counter(list-item)"\a0\a0";
    /* counter-increment: list-item 0; */
    background-color: #000;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;

}

.app_in_list{
    flex: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    /* border: #bbb solid 1px; */
    border-top: #bbb solid 1px;
    border-bottom: #bbb solid 1px;
    padding: 8px;
    margin: 8px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    text-decoration: none;
    /* width: min-content; */
}

/* .app_in_list:hover{
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: rgb(0, 0, 0) 2pt 2pt 2pt 2pt;
} */

/* .app_in_list::before{
    content: counter(list-item)"\a0\a0";
    counter-increment: list-item 1;
    background-color: #000;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;

} */

.app_in_list_title{
    margin: auto ;
}

.app_in_list_image{
    margin: 16px;
    padding: 8px;
    border-radius: 20px;
    width: 124px;
    background-color: white;
}

.app_link{    
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    width: 10rem;
    border-radius: 10px;
    margin: 8px;
    padding: 4px;
    background-color: black;
    
}

.app_link:hover{
    box-shadow: gray 1px 1px 1px 1px;
}

.app_link:active{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#android_image, #web_image, 
#github_image, #google_play_image{
    height: 24px;
    margin: 4px;
}

#web_image{
    color: white;
}

.btn_app_link{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.btn_app_link:hover{
    /* background-color: rgba(0, 135, 224, 0.549); */
    cursor: pointer;
}

.btn_app_link:active{
    cursor: pointer;
}

/* about */
td {padding: 12px}

#id_img{
    float: left;
    max-width: 152px; 
    height:200px;
    padding-right: 8px;
}

/* Footer */
footer {
    clear: both;
    width: 100%;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    flex-wrap: wrap;
    align-items: center;
    align-content: center;    
    background-color: grey;
    color: white;
    text-align: center;
    height: 40vh;    
}

#footer p{
    flex-basis: 100%;
}

@media (max-width: 1716px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1516px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1230px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1030px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 830px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 630px)
{
    #main_list_app{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px)
{
    #main_list_app{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 307px) {
    .header{
        justify-content: center;
    }

    #logo{
        order: 1;
    }

    .menu_button{
        order: 2;
        margin-bottom: 8px;
    }
    
    #navbar{
        order: 3;
        text-align: center;
    }
}