<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QR Code Generator</title>
  <link rel="stylesheet" href="./style.css" />
  <script src="./script.js"></script>
</head>

<body>
  <div>
    <h1>QR Code Generator</h1>
    <form action="/generate-qr" method="POST">
      <label for="webURL">URL:</label>    
      <input type="text" id="webURL" name="webURL" placeholder="Enter your URL here..." required>
      <input type="submit" value="Submit" onclick="picture()">
    </form>
    <img id="qr-code" name="qr-code" src="qr_img.png" alt="qr_img">
    <p id="qr-url" name="qr-url">Your URL: <%= dataURL %></p>
  </div>
</body>

</html>